# Folder view configuration files
.DS_Store
Desktop.ini

# Cache files
._*
Thumbs.db
.DS_Store
.gitignore~
.sass-cache*

# Log files
*.log

# Files that might appear on external disks
.Spotlight-V100
.Trashes
